.dark,
[data-theme='dark'] {
  --rds-color-primary-25: #002266;
  --rds-color-primary-50: #00359e;
  --rds-color-primary-100: #0040c1;
  --rds-color-primary-200: #004eeb;
  --rds-color-primary-300: #155eef;
  --rds-color-primary-400: #2970ff;
  --rds-color-primary-500: #528bff;
  --rds-color-primary-600: #84adff;
  --rds-color-primary-700: #b2ccff;
  --rds-color-primary-800: #d1e0ff;
  --rds-color-primary-900: #eef4ff;
  --rds-color-primary-950: #f5f8ff;

  --rds-color-secondary-25: #0c111d;
  --rds-color-secondary-50: #101828;
  --rds-color-secondary-100: #182230;
  --rds-color-secondary-200: #344054;
  --rds-color-secondary-300: #475467;
  --rds-color-secondary-400: #667085;
  --rds-color-secondary-500: #98a2b3;
  --rds-color-secondary-600: #d0d5dd;
  --rds-color-secondary-700: #eaecf0;
  --rds-color-secondary-800: #f2f4f7;
  --rds-color-secondary-900: #f9fafb;
  --rds-color-secondary-950: #fcfcfd;

  --rds-color-destructive-25: #55160c;
  --rds-color-destructive-50: #7a271a;
  --rds-color-destructive-100: #912018;
  --rds-color-destructive-200: #b42318;
  --rds-color-destructive-300: #d92d20;
  --rds-color-destructive-400: #f04438;
  --rds-color-destructive-500: #f97066;
  --rds-color-destructive-600: #fda29b;
  --rds-color-destructive-700: #fecdca;
  --rds-color-destructive-800: #fee4e2;
  --rds-color-destructive-900: #fef3f2;
  --rds-color-destructive-950: #fffbfa;

  --rds-color-success-25: #053321;
  --rds-color-success-50: #074d31;
  --rds-color-success-100: #085d3a;
  --rds-color-success-200: #067647;
  --rds-color-success-300: #079455;
  --rds-color-success-400: #17b26a;
  --rds-color-success-500: #47cd89;
  --rds-color-success-600: #75e0a7;
  --rds-color-success-700: #abefc6;
  --rds-color-success-800: #dcfae6;
  --rds-color-success-900: #ecfdf3;
  --rds-color-success-950: #f6fef9;

  --rds-color-warning-25: #4e1d09;
  --rds-color-warning-50: #7a2e0e;
  --rds-color-warning-100: #93370d;
  --rds-color-warning-200: #b54708;
  --rds-color-warning-300: #dc6803;
  --rds-color-warning-400: #f79009;
  --rds-color-warning-500: #fdb022;
  --rds-color-warning-600: #fec84b;
  --rds-color-warning-700: #fedf89;
  --rds-color-warning-800: #fef0c7;
  --rds-color-warning-900: #fffaeb;
  --rds-color-warning-950: #fffcf5;

  --rds-color-background: #0c111d;
  --rds-color-foreground: #f9fafb;
  --rds-color-muted: #182230;
  --rds-color-muted-foreground: #98a2b3;
  --rds-color-border: #344054;
  --rds-color-ring: #528bff;
  --rds-color-input: #475467;

  --rds-shadow-xs: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  --rds-shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.4), 0 1px 2px -1px rgba(0, 0, 0, 0.4);
  --rds-shadow-md: 0 4px 8px -2px rgba(0, 0, 0, 0.4), 0 2px 4px -2px rgba(0, 0, 0, 0.3);
  --rds-shadow-lg: 0 12px 16px -4px rgba(0, 0, 0, 0.4), 0 4px 6px -2px rgba(0, 0, 0, 0.3);
  --rds-shadow-xl: 0 20px 24px -4px rgba(0, 0, 0, 0.4), 0 8px 8px -4px rgba(0, 0, 0, 0.3);
  --rds-shadow-2xl: 0 24px 48px -12px rgba(0, 0, 0, 0.5);
}
